@font-face {
  font-family: "Pretendard";
  src: url('./fonts/Pretendard-Medium.otf');
  font-weight: 400;
  font-style: normal;
}



li span {
  display: inline; 
  margin: 0; 
  padding: 0; 
}


body {

  font-family: 'Pretendard';
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: content-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

